{% extends "D:\core\home\templates\home\base.html" %}
{% block start %}
    <h1>This Template is return by Django Server</h1>
    <a href="/">
      Home
    </a>
    <a href="/contact">
      contact
    </a>
    <a href="/about">
      about
    </a>

   <table class="container">
    <tr>
      <th>Sno.</th>
      <th>Name</th>
      <th>Age</th>
      <th>Can Vote</th>
    </tr>

    {%for people in peoples %}
    <tr>
      <td>{{forloop.counter}}
        {{text|truncatechars:10}}
      </td>
      <td>{{people.name}}</td>
      <td>{{people.age}}</td>
      <td {%if people.age < 18 %} style="background: red"       {%endif%}>
        {%if people.age >= 18 %}
        👍
        {% else %}
        👎

        {%endif%}


      </td>
    </tr>
    {% endfor %}
   
  </table>


  <p>
    {{vegetables.firstof}}
  </p>

{% endblock %}
